/*--------------------------------------
Html and Body
--------------------------------------*/
html{

}


/*--------------------------------------
Header
--------------------------------------*/
header {
	background-color: #e7e9ea; height: 94px; border-bottom: 6px solid #00529c;
	text-align: center; display:flex; justify-content:center; align-items:center;
	color: #bdbdbd; font-size: 3rem; font-weight: 700; text-shadow: 1px 1px 0px #fff; text-transform: uppercase;
}

/*--------------------------------------
Banner
--------------------------------------*/

section.banner {
	padding: 36px 0;
}

/*--------------------------------------
Footer
--------------------------------------*/

footer {
	background-color: #2d343e; height: 270px;
	text-align: center; display:flex; justify-content:center; align-items:center;
	color: #575c63; font-size: 3rem; font-weight: 700; text-shadow: 1px 1px 0px #818489; text-transform: uppercase;
}
